.about{
    magrin-top: 152px;
    height: 563 px;
}

.about__container{
    position: relative;
}

.about__img{
    float: left;
}

.about__content{
    position: absolute;
    top: 118px;
    right: 0;
    Width:785px;
    Height: 455px;
    background: url("../../img/mask.png");
    padding-top: 70px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 66px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.about__text{
    margin-top: 37px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    max-width: 502px;
}

.button--transparent{
    position: absolute;
    width: 168px;
    padding: 18px 0;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 37px;
}